@model System.String

<div class="form-group">
    @Html.Label("", new {@class = "control-label"})
    <div class="">
        @Html.TextBox("", Model, new {placeholder = @ViewData["placeholder"], @class="form-control"})
        @Html.ValidationMessage("", new { @class = "text-error" })
    </div>
</div>