@using Presentation.Web.Models.Input
@model LoginInput

<div class="row">
    <h1 class="text-center">Login</h1>
    <div class="col-lg-7 col-md-7 col-xs-7 form form-center well">
        @using( Html.BeginForm( "LogIn", "User", FormMethod.Post, new { @class = "form-horizontal" } ) )
        {
            @Html.EditorFor( x => x.Email, new { placeholder = "email@address.com" } )

            <div class="form-group">
                @Html.LabelFor( x => x.Password, new { @class = "control-label" } )
                @Html.PasswordFor( x => x.Password, new { @class = "form-control" } )
                @Html.ValidationMessageFor( x => x.Password, null, new { @class = "text-error" } )
            </div>

            <div class="form-group">
                <button type="submit" class="btn">Login</button>
            </div>
        }
    </div>
</div>
