<div class="row">
    <h1 class="text-center">Login</h1>

    <div class="col-lg-7 col-md-7 col-xs-7 form form-center well">
        <form name="loginForm" class="form-horizontal" ng-submit="login()">
            <div class="form-group" ng-class="{error:loginForm.Email.$invalid}">
                <label class="control-label" for="Email">Email:</label>
                <input class="form-control" type="email" ng-model="Email" id="Email" name="Email" required />
            </div>

            <div class="form-group">
                <label class="control-label" for="Password">Password:</label>
                <input class="form-control" type="password" ng-model="Password" name="Password" id="Password" required />
            </div>

            <div class="form-group">
                <button ng-disabled="loginForm.$invalid" type="submit" class="btn btn-primary">Login</button>
            </div>

            <p>
                <a href="/#register">No login? Register now....</a>
            </p>
        </form>
    </div>
</div>
